<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Compiled and minified Materialize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- jQuery first, then Materialize JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <!-- Compiled and minified Materialize JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
        <title>Cool Youtube Downloader</title>
    </head>
    <body class="categories">
        <h2>Cool Youtube Downloader</h2>
        <div class="category">
            <h4>Basic Options</h4>
            {{#each audio_videos}}
                <div>
                    <a  href="/download?link={{../link}}&itag={{this.itag}}"
                        download="{{../title}} [{{this.qualityLabel}}][{{this.audioBitrate}}kbps].{{ this.container }}"
                        type="{{this.mimeType}}">
                        <button type="button" class="btn waves-effect waves-light deep-orange">{{ this.container }}</button>
                    </a>
                    <span><b>Video</b>: {{ this.qualityLabel}}</span>
                    <span><b>Audio</b>: {{ this.audioBitrate}}kbps</span>
                </div>
            {{/each}}
        </div>
        <h4>Custom Options</h4>
        <div class="card-panel deep-orange lighten-4">
			<ul id="tabs-swipe-demo" class="tabs tabs-fixed-width">
				<li class="tab col s3"><a class="active" href="#simple-options">Simple Options</a></li>
				<li class="tab col s3"><a class="active" href="#advanced-options">Advanced Options (beta)</a></li>
			</ul>
			<div id="simple-options" class="options">
                <b>Video:</b>
                <div class="input-field">
                    <select id="simple_videos">
                        {{#each only_simple_videos}}
                            <option value="{{this.itag}}"
                                    qualitylabel="{{ this.qualityLabel }}"
                                    container="{{this.container}}"
                                    mimetype="{{this.mimeType}}"
                                >{{ this.qualityLabel }} ({{ this.filesize }})</option>
                        {{/each}}
                        <option qualitylabel="No Video">No Video</option>
                    </select>
                    <label>Quality (codec)</label>
                </div>
                <b>Audio:</b>
                <div class="input-field">
                    <select id="simple_audios">
                        {{#each only_simple_audios}}
                            <option value="{{this.itag}}" class="deep-orange"
                                    audiobitrate="{{ this.audioBitrate }}kbps"
                                    container="{{this.container}}"
                                    mimetype="{{this.mimeType}}"
                                ><span class="deep-orange-text">{{ this.audioBitrate }}kbps ({{ this.filesize }})</span></option>
                        {{/each}}
                        {{!-- <option audiobitrate="No Audio">No Audio</option> --}}
                    </select>
                    <label>Bitrate (codec)</label>
                </div>
			</div>

            <div id="advanced-options" class="options">
                <b>Video:</b>
                <div class="input-field">
                    <select id="videos">
                        {{#each only_videos}}
                            <option value="{{this.itag}}"
                                    qualitylabel="{{ this.qualityLabel }}"
                                    container="{{this.container}}"
                                    mimetype="{{this.mimeType}}"
                                >{{ this.qualityLabel }} ({{ this.filesize }}) ({{this.codecs}})</option>
                        {{/each}}
                        <option qualitylabel="No Video">No Video</option>
                    </select>
                    <label>Quality (codec)</label>
                </div>
                <b>Audio:</b>
                <div class="input-field">
                    <select id="audios">
                        {{#each only_audios}}
                            <option value="{{this.itag}}" class="deep-orange"
                                    audiobitrate="{{ this.audioBitrate }}kbps"
                                    container="{{this.container}}"
                                    mimetype="{{this.mimeType}}"
                                ><span class="deep-orange-text">{{ this.audioBitrate }}kbps ({{ this.filesize }}) ({{this.codecs}})</span></option>
                        {{/each}}
                        {{!-- <option audiobitrate="No Audio">No Audio</option> --}}
                    </select>
                    <label>Bitrate (codec)</label>
                </div>
            </div>
            <button type="button" class="btn waves-effect waves-light deep-orange" onclick="merge()">Download</button>
        </div>

        <style>
            body {
                padding: 15px;
                display: flex;
                flex-flow: column;
                align-items: center;
            }
            h4 {
                text-align: center;
            }
            .category {
                display: flex;
                flex-flow: column;
            }
            .card-panel {
				width: 40%;
                padding: 15px;
                display: flex;
                flex-flow: column;
                align-items: center;
            }
            .options {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            .options > * {
                margin: 10px;
            }
            .input-field {
            }
            .btn {
                margin: 5px;
            }
            .dropdown-content li>span {
                color: black;
            }
			.carousel.carousel-slider .carousel-item {
				height: auto;
				min-height: 0;;
			}
        </style>
        <script>
            $(document).ready(function(){
                $('select').formSelect();
				$('.tabs').tabs();
            });
            function merge() {
				const simple = !M.Tabs.getInstance($('.tabs')[0]).index;
                const audio_elem = simple ? $('#simple_audios > option:selected') : $('#audios > option:selected');
                const video_elem = simple ? $('#simple_videos > option:selected') : $('#videos > option:selected');

                const audio = {
                    itag: audio_elem.attr('value'),
                    audioBitrate: audio_elem.attr('audiobitrate'),
                    container: audio_elem.attr('container'),
                    mimeType: audio_elem.attr('mimetype'),
                }

                const video = {
                    itag: video_elem.attr('value'),
                    qualityLabel: video_elem.attr('qualitylabel'),
                    container: video_elem.attr('container'),
                    mimeType: video_elem.attr('mimetype'),
                }

                download(
                    `/merge?link={{link}}${video.itag ? '&v_itag=' + video.itag : ''}${audio.itag ? '&a_itag=' + audio.itag : ''}`,
                    `{{title}} [${video.qualityLabel}][${audio.audioBitrate}].${video.itag ? 'mkv' : audio.container}`,
                    `video/x-matroska`
                );
            }

            function download(url, title, type) {
                //creating an invisible element
                var element = document.createElement('a');
                element.setAttribute('href', url);
                element.setAttribute('download', title);
                element.setAttribute('type', type);

                document.body.appendChild(element);

                element.click();

                document.body.removeChild(element);
            }
        </script>
    </body>
</html>
