<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">
    
        <title>Cool Youtube Downloader</title>
    </head>
    <body class="categories">
        <div class="category">
            <h3>Video with Audio</h3>
            {{#each audio_videos}}
                <div>
                    <a  href="/download?link={{../link}}&itag={{this.itag}}"
                        download="{{../title}} [{{this.qualityLabel}}][{{this.audioBitrate}}kbps].{{ this.container }}"
                        type="{{this.mimeType}}">
                        <button type="button" class="btn btn-success">{{ this.container }}</button>
                    </a>
                    <span><b>Video</b>: {{ this.qualityLabel}}</span>
                    <span><b>Audio</b>: {{ this.audioBitrate}}kbps</span>
                </div>
            {{/each}}
            <br>
            <h3>Audio Only</h3>
            <select id="audios">
                {{#each only_audios}}
                    <option value="{{this.itag}}"
                            audiobitrate="{{ this.audioBitrate }}kbps"
                            constainer="{{this.container}}"
                            mimetype="{{this.mimeType}}">
                        {{ this.audioBitrate }}kbps - {{this.container}} - {{this.codecs}}
                    </option>
                {{/each}}
            </select>
            <h3>Video Only</h3>
            <br>
            <select id="videos">
                {{#each only_videos}}
                    <option value="{{this.itag}}"
                            qualitylabel="{{ this.qualityLabel }}"
                            constainer="{{this.container}}"
                            mimetype="{{this.mimeType}}">
                        {{ this.qualityLabel }} - {{this.container}} - {{this.codecs}}
                    </option>
                {{/each}}
            </select>
            <br>
            <button type="button" class="btn btn-success" onclick="merge()">Download</button>
        </div>
    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="/script.js"></script>
        <script>
            function merge() {
                const audio_elem = $('#audios > option:selected');
                const video_elem = $('#videos > option:selected')

                const audio = {
                    itag: audio_elem.attr('value'),
                    audioBitrate: audio_elem.attr('audiobitrate'),
                    container: audio_elem.attr('container'),
                    mimeType: audio_elem.attr('mimetype'),
                }

                const video = {
                    itag: video_elem.attr('value'),
                    qualityLabel: video_elem.attr('qualitylabel'),
                    container: video_elem.attr('container'),
                    mimeType: video_elem.attr('mimetype'),
                }

                download(
                    `/merge?link={{link}}&a_itag=${audio.itag}&v_itag=${video.itag}`,
                    `{{title}} [${video.qualityLabel}][${audio.audioBitrate}kbps].mkv`,
                    `video/x-matroska`
                );
            }

            function download(url, title, type) {
                //creating an invisible element
                var element = document.createElement('a');
                element.setAttribute('href', url);
                element.setAttribute('download', title);
                element.setAttribute('type', type);

                document.body.appendChild(element);

                element.click();

                document.body.removeChild(element);
            }
        </script>
        <style>
            .categories {
                display: flex;
                justify-content: space-evenly;
            }
            .category {
                display: flex;
                flex-flow: column;
            }
            .btn {
                margin: 5px;
            }
        </style>
    </body class="categories">
</html>
